<div class="inner about">
  <h1 class="title">About</h1>
  <p>OpenTaste is a social kitchen, a network of people with the common passion for cooking.
It lets you share your recipes, view those of your friends and vote as "Tasty!" the dishes you like most.</p>
  <p>We at OpenTaste have an eye on people with food intolerances or special dietary, and we let you search for recipes with or without certain ingredients. Thus, OpenTaste can be very useful for coeliacs, vegetarians and vegans.</p>
  <p>Currently our team is made of young cooking enthusiasts wanting to share their passion with you and help you doing the same with your friends.</p>
    
    <ul>
        <li><a href="/about/terms">Terms</a></li>
        <li><a href="/about/use">Use</a></li>
        <li><a href="/about/privacy">Privacy</a></li>
    </ul>
</div>